body{
    margin: 0;
    width: 100%;
}
nav{
    background-color: #4E028C;
}
.navbar-toggler{
    color: white;
}
.nav-item{
    padding: 5px;
}
.nav-item :hover{
    color: #999999;
    border-left: 1px solid black;
}
.nav-link{
    color: white;
    font-weight: 400;
}
.d-flex{
    margin-left: 200px;

}
.btn{
    background-color: white;
    color: #4E028C;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    transition: .4s;
}
.btn:hover{
    background-color: white;
    transform: scale(1.05);
}
.btxx{
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    width: 130px;
    height: 38px;
    transition: .4s;
}
.btxx:hover{
    background-color: #999999;
    transform: scale(1.05);
}
.header{
    height: 300px;
    background-image: url(babyimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.header h2{
    margin-left: 600px;
    padding-top: 100px;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.header h2::after{
    content: '';
    height: 10px;
    width: 90px;
    background: white;
    position: absolute;
    left: 20px;
    bottom: 0.;
    margin-top: 40px;
} 
.services{
    height: 500px;
    display: flex;
    background-color:#F1F1F3;
}
.services .image{
    margin-top: 50px;
    margin-left: 50px ;
}
.services .image img{
    height: 400px;
    width: 400px;
    border-radius: 50%;  

}
.services .statement .preamble{
    margin-left: 200px;
    margin-top: 50px;
    font-family:'Open Sans', sans-serif;
    font-size: large;
}

.services .statement .misvis{
    margin-left: 200px;
    margin-top: 50px;
}
.services .statement .misvis h3{
    color: #4E028C;
    font-family:'Open Sans', sans-serif;
    position: relative;
}
.services .statement .misvis h3::after{
    content: '';
    height: 5px;
    width: 70px;
    background:#4E028C;
    position: absolute;
    left: 5px;
    bottom: 0.;
    margin-top: 35px;
    color: #4E028C;
    font-family:'Open Sans', sans-serif;
    position: absolute;
}

.services .statement .misvis p{
    font-family:'Open Sans', sans-serif;
    margin-top: 20px;
    
}
footer{
    position: relative;
    background-color: #4E028C;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 140px;
    height: 1px;
    width: 100%;
    background: white;
}
footer .content{
    background-color: #4E028C;
    max-width: 1250px;
    margin: auto;
    padding:  30px 40px 40px 40px;
}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content .top .icons{
    display: flex;
}
.content .top .icons a{
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    color: #4E028C;
    line-height: 40px;
    font-size: 17px;
    text-decoration: none;
}
footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link-name{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.link-boxes .box .link-name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #999999;
}
.content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
}
.content .link-boxes .box li a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}
.content .link-boxes .input-box{
    margin-right: 55px;
}
.link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    background: #4E028C;
    border: 2px solid white;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: white;
    margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
    color: white;
    font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
    background-color: white;
    color: #4E028C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    transition: all 0.4s ease;
    cursor: pointer;
}
.link-boxes .input-box input[type="button"]:hover{
    opacity: 1;
}
footer .bottom-details{
    width: 100%;
    background: #999999;
}
footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #ffff;
    opacity: 0.8; 
    text-decoration: none;
}
.bottom-details .bottom_text a:hover{
    text-decoration: underline;
    opacity: 1;
}
.bottom-details .bottom_text a{
    margin-right: 10px;
}